[submodule "turtle_ws/src/turtlebot3_simulations"]
	path = turtle_ws/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
	branch = kinetic-devel
[submodule "turtle_ws/src/vision_visp"]
	path = turtle_ws/src/vision_visp
	url = https://github.com/lagadic/vision_visp.git
	branch = noetic
[submodule "turtle_ws/src/rtabmap_ros"]
	path = turtle_ws/src/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
	branch = noetic-devel
[submodule "turtle_ws/src/map_merger"]
	path = turtle_ws/src/map_merger
	url = https://github.com/jacobmoroni/map_merger.git
[submodule "turtle_ws/src/m-explore"]
	path = turtle_ws/src/m-explore
	url = https://github.com/hrnr/m-explore.git
[submodule "turtle_ws/src/Multirobot-Exploration-and-Mapping"]
	path = turtle_ws/src/Multirobot-Exploration-and-Mapping
	url = https://github.com/matteomastrogiuseppe/Multirobot-Exploration-and-Mapping.git
